<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Page</title>
</head>
<body>
  <header id = "header"></header>
  <main>
     <header>
         <h1>First article</h1>
     </header>
      <aside>
          <p>Peter</p>
          <p><a href="mailto:dbswlgus0203@gmail.com">dbswlgus0203@gmail.com</a></p>
          <p><time datetime="2022-01-01T00:00:00">2022-01-01</time> </p>
          <p>#java</p>
      </aside>

      <section>
          <p>Body<br><br></p>

          <div>
              <form>
                  <label for = "articleComment" hidden>Comments</label>
                  <textarea id ="articleComment" placeholder="Writing comment.." rows="3"></textarea>
                  <button type="submit">Write</button>
              </form>

              <ul>
                  <li>
                      <div>
                          <time><small>2022-01-01</small></time>
                          <strong>Peter</strong>
                          <p>
                              Lorem ipsum dolar sit amet, consecetur
                              Lorem ipsum
                          </p>
                      </div>
                  </li>
                  <li>
                      <div>
                          <time><small>2022-01-01</small></time>
                          <strong>Peter</strong>
                          <p>
                              Lorem ipsum dolar sit amet, consecetur2
                              Lorem ipsum2
                          </p>
                      </div>
                  </li>
              </ul>
          </div>
          <nav>
              <a href="#">Previous</a>
              <a href="#">Next</a>
          </nav>
      </section>
  </main>
  <footer id = "footer"></footer>
</body>
</html>